
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap'); */
@import "tailwindcss";

@theme {
  /* Brand / Primary */
  --color-primary: #396F0B;
  --color-primary-strong: #022610;
  --color-primary-soft: #7ACB00;

  /* Dark Brand */
  --color-brand-bg: #071C18;
  --color-brand-surface: #213D20;
  --color-brand-surface-strong: #396F0B;

  /* Text */
  --color-brand-text: #F8FAF9;
  --color-brand-muted: #A5A9A8;

  /* Border */
  --color-brand-border: rgba(57, 111, 11, 0.20);

  /* Additional UI Colors */
  --color-orange: #FD5E02;
  --color-gold: #FEB914;
  --color-red-orange: #D92E06;

  --color-purple: #936EC3;
  --color-blue: #6499E9;
  --color-success: #3C8A68;
  --color-warning: #EDA43B;
  --color-danger: #C96B6B;

  /* Light UI */
  --color-background: #F9F8F6;
  --color-card: #FEFEFE;
  --color-border: #E1E4E2;
}


:root {
  /* Brand / Primary */
  --primary: #396F0B;
  --primary-strong: #022610;
  --primary-soft: #7ACB00;

  /* Dark Brand */
  --bg-dark: #071C18;
  --bg-surface: #213D20;
  --bg-card-dark: #396F0B;

  /* Light Background */
  --bg: #F9F8F6;
  --bg-card: #FEFEFE;

  /* Text */
  --text-primary: #111827;
  --text-light: #F8FAF9;
  --text-muted: #616C68;

  /* Borders */
  --border-soft: rgba(57, 111, 11, 0.18);
  --border-light: #E1E4E2;

  /* Status */
  --success: #3C8A68;
  --warning: #EDA43B;
  --danger: #C96B6B;
  --info: #6499E9;

  /* Food Brand Colors */
  --orange: #FD5E02;
  --orange-light: #FE8303;
  --gold: #FEB914;
  --red-orange: #D92E06;

  /* Secondary */
  --purple: #936EC3;
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  /* font-family: "Cormorant Garamond", serif; */
  /* font-family: "Vollkorn", serif; */
  background: var(--bg);
  color: var(--text-primary);
}

#root {
  min-height: 100vh;
  background: var(--bg);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

@keyframes heroBannerFade {
  from {
    opacity: 0.35;
    transform: scale(1.015);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-banner-transition {
  animation: heroBannerFade 700ms ease both;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}
